In [1]:
from pathlib import Path
import sys

sys.path.append(str(Path(".").absolute().parent / "mind_taska"))

from mind_taska import MindTaska

In [7]:
DATA_PATH = Path(r"C:\Users\USER\Downloads\Data\mind_taska")

In [8]:
mt = MindTaska(config=DATA_PATH / "config.json")
mt.full_parse(
    DATA_PATH / "mindmaps" / "–ê—Ä—Ö–∏—Ç–µ–∫—Ç—É—Ä–∞ HypEx 24-03-25.wxml",
    DATA_PATH / "tasks.xlsx"
)

In [9]:
mt.stats

                     date  opened tasks  new tasks  closed tasks  ü¶ä  ü§ñ
0 2024-03-19 09:42:21.505            23          0             0  7  7
1 2024-03-19 09:42:22.190            14          5            11  3  3
2 2024-03-25 07:27:41.295            14          1             0  4  2